<%- include("header") -%>
<!-- Page Content  -->
<div id="content-page" class="content-page">
    <div class="container-fluid">
       <div class="row">
          <div class="col-sm-12">
            <% if(delete_data){ %>   
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  
                  <strong>Deleted Successfully</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                 
                  <% } %> 
                  <% if(update_data){ %>   
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                      
                      <strong>Updated Successfully</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                     
                      <% } %> 
             <div class="iq-card">
                <div class="iq-card-header d-flex justify-content-between">
                   <div class="iq-header-title">
                      <h4 class="card-title">Game Lists</h4>
                   </div>
                   <div class="iq-card-header-toolbar d-flex align-items-center">
                      <a href="gamecreate" class="btn btn-primary">Add Game</a>
                   </div>
                </div>
                <div class="iq-card-body">
                   <div class="table-view">
                    <table class="data-tables table genre_table  dataTable no-footer" style="width: 100%;" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                        <thead>
                            <tr role="row"><th style="width: 20px;" class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="No: activate to sort column descending">No</th><th style="width: 39px;" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Game Name: activate to sort column ascending">Game Name</th><th style="width: 45px;" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Game Genre: activate to sort column ascending">Game Genre</th><th style="width: 88px;" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Game Description: activate to sort column ascending">Game Description</th><th style="width: 100px;" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Game URL: activate to sort column ascending">Game URL</th><th style="width: 50px;" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Game Status: activate to sort column ascending">Game Status</th><th style="width: 50px;" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending">Action</th></tr>
                        </thead>
                        <tbody>
                                  
                            <% var i = 1; games.forEach(function(data){ %>    
                            
                        <tr role="row" class="odd">
                                <td class="sorting_1"><%= i++ %></td>
                                <td><%= data.game_name %></td>
                                <td><%= data.genre_name %></td>
                                <td>
                                    <p><%= data.game_description %>
                                    </p>
                                </td>
                                <td><img src="<%= data.game_cover_url %>" style="height: 100%; width:100%" alt="" srcset=""></td>

                                <td><%= data.game_status %></td>

                                <td>
                                    <div class="flex align-items-center list-user-action">

                                        <a class="iq-bg-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="gameupdate-<%= data.id %>"><i class="ri-pencil-line"></i></a>
                                        <a class="iq-bg-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="gamedelete/<%= data.id %>"><i class="ri-delete-bin-line"></i></a>
                                        
                                    </div>
                                </td>
                            </tr>
                            <% }) %>
                            </tbody>
                    </table>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
<%- include("footer") -%>