<%- include("header") -%>
    <!-- Page Content  -->
    <div id="content-page" class="content-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">User Lists</h4>
                            </div>

                        </div>
                        <div class="iq-card-body">
                            <div class="table-view">
                                <table class="data-tables table movie_table dataTable no-footer" style="width: 100%;"
                                    id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                    <thead>
                                        <tr role="row">
                                            <th style="width: 20px;" class="sorting_asc" tabindex="0"
                                                aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                                aria-sort="ascending"
                                                aria-label="No: activate to sort column descending">No</th>
                                            <th style="width: 54px;" class="sorting" tabindex="0"
                                                aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                                aria-label="Profile: activate to sort column ascending">Profile</th>
                                            <th style="width: 48px;" class="sorting" tabindex="0"
                                                aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                                aria-label="Name: activate to sort column ascending">Name</th>
                                            <th style="width: 63px;" class="sorting" tabindex="0"
                                                aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                                aria-label="Contact: activate to sort column ascending">Contact</th>
                                            <th style="width: 194px;" class="sorting" tabindex="0"
                                                aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                                aria-label="Email: activate to sort column ascending">Email</th>
                                            <th style="width: 63px;" class="sorting" tabindex="0"
                                                aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                                aria-label="Country: activate to sort column ascending">Country</th>
                                            <th style="width: 50px;" class="sorting" tabindex="0"
                                                aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                                aria-label="Status: activate to sort column ascending">Status</th>
                                            <th style="width: 41px;" class="sorting" tabindex="0"
                                                aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                                aria-label="Join Date: activate to sort column ascending">Join Date</th>
                                            <th style="width: 50px;" class="sorting" tabindex="0"
                                                aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                                aria-label="Action: activate to sort column ascending">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% var i=1; users.forEach(function(data){ %>

                                        <tr role="row" class="odd">
                                            <td class="sorting_1"><%= i++ %></td>
                                            <td>
                                                <img src="<% if(data.avatar=='' || data.avatar==null || data.avatar==undefined || data.avatar == '#'){ %> images/avatar.png <% }else{ data.avatar }%>"
                                                    class="img-fluid avatar-50" alt="<%= data.name %>">
                                            </td>
                                            <td><%= data.name %></td>
                                            <td>-</td>
                                            <td><%= data.email %></td>
                                            <td>-</td>
                                            <td><span class="badge iq-bg-success">Active</span></td>
                                            <td><%= data.created_at %></td>
                                            <td>
                                                <div class="flex align-items-center list-user-action">
                                                    <a class="iq-bg-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="userdelete/<%= data.id %>"><i class="ri-delete-bin-line"></i></a>

                                                </div>
                                            </td>
                                        </tr>
                                        <% }) %>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("footer") -%>