<%- include("header") -%>
<div id="content-page" class="content-page">
    <div class="container-fluid">
       <div class="row">
          <div class="col-sm-12">
            
            <% if(delete_data){ %>   
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              
              <strong>Deleted Successfully</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
             
              <% } %> 
              <% if(update_data){ %>   
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                  
                  <strong>Update Successfully</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                 
                  <% } %> 
             <div class="iq-card">
                <div class="iq-card-header d-flex justify-content-between">
                   <div class="iq-header-title">
                      <h4 class="card-title">Game Genre List</h4>
                   </div>
                   <div class="iq-card-header-toolbar d-flex align-items-center">
                      <a href="genrecreate" class="btn btn-primary">Add Game Genre</a>
                   </div>
                </div>
                <div class="iq-card-body">
                   <div class="table-view">
                     <table class="data-tables table genre_table  dataTable no-footer" style="width: 100%;" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                        <thead>
                            <tr role="row"><th style="width: 52px;" class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="No: activate to sort column descending">No</th><th style="width: 149px;" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Genre Name: activate to sort column ascending">Genre Name</th><th style="width: 343px;" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Genre Description: activate to sort column ascending">Genre Description</th><th style="width: 52px;" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Genre Status: activate to sort column ascending">Genre Status</th><th style="width: 149px;" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending">Action</th></tr>
                        </thead>
                        <tbody>
                            <% var i = 1; genre.forEach(function(data){ %>
                             <tr role="row" class="odd">
                                <td class="sorting_1"><%= i++ %></td>
                                <td><%= data.genre_name %></td>
                                <td>
                                    <p><%= data.genre_description %>
                                    </p>
                                </td>
                                <td><%= data.genre_status %></td>

                                <td>
                                    <div class="flex align-items-center list-user-action">

                                        <a class="iq-bg-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="genreupdate-<%= data.id  %>"><i class="ri-pencil-line"></i></a>
                                        <a class="iq-bg-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="genredelete/<%= data.id  %>"><i class="ri-delete-bin-line"></i></a>

                                        
                                    </div>
                                </td>
                            </tr>
                            <% }) %>
                            
                        </tbody>
                    </table>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
<%- include("footer") -%>